@use "../../styles/variables";
.root {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    .assignpage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        min-height: 30em;
        background-color: variables.$primary-color-light;
        padding: 1em 2em;
        border-radius: 0.4em;
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            label {
                width: 12em;
            }
        }
        button {
            align-self: flex-start;
        }
    }
}
